.circle {
  transition-property: width, height;
  transition-duration: .5s;
  transition-timing-function: ease-in;
  position: relative;
  background-color: palevioletred;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  width: 0;
  height: 0;
}


.message {
  font-size: 20px;
  line-height: 200px;
  text-align: center;
}
